[D-BUS Service]
Name=org.freedesktop.Notifications
Exec=/usr/bin/cosmic-ext-notifications
SystemdService=io.github.olafkfreund.CosmicExtNotifications.service
